{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
Occurrences of {{ family.name }}
{% endblock %}
{% block header %}
Occurrences of {{ family.name }}
{% endblock %}
{% block content %}


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#tabtable" role="tab" data-toggle="tab">Table</a></li>
  <li id="histotab"><a href="#tabhisto" role="tab">Histogram of spellings</a></li>
  <li id="periodtab"><a href="#tabperiod" role="tab">Repartition in periods</a></li>
  <li><a href="#tabtree" role="tab" data-toggle="tab">Context trees</a></li>
  <li><a href="#tabtime" role="tab" data-toggle="tab">Histogram of occurrences</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="tabtable">
<!-- Subcorpus selection -->
<form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Subcorpus:</label>
      <div class="col-sm-8 input-group">
        <select id="subcorpus-input" type="text" class="form-control"></select>
      </div>
    </div>
</form>
<!-- / -->

  <h2> Table of occurrences </h2>
<table class="table table-striped" id="myIndexList" width="100%">
    <thead><tr>
    <th> View </th>
    <th> Key </th>
    <th> Vol </th>
    <th> Num </th> 
    <th> Date </th> 
    <th> Word </th> 
    <th> Sentence </th></tr></thead>
  <tbody>
  </tbody>
</table>
  </div>
  <div class="tab-pane" id="tabhisto">
    <h2> Histogram of spellings </h2>
    <div id="chart">
      <svg></svg>
    </div>
  </div>
  <div class="tab-pane" id="tabperiod">
    <h2> Repartition in periods </h2>
    <div id="periodchart">
      <svg></svg>
    </div>
    <h2> Frequencies in periods </h2>
    <div id="freqperiodchart">
      <svg></svg>
    </div>
  </div>

  <div class="tab-pane" id="tabtree">
    <div id="tree"></div>
  </div>


  <div class="tab-pane" id="tabtime">
    <h2> Histogram of occurrences </h2>
    <div class="histogram">
    </div>
     <span class="input-group-addon">
       <input type="checkbox" class="displayperiod">
       <span class="label label-default" checked="true"> Display of periods.</span>
     </span>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Loading title ...</h4>
      </div>
      <div class="modal-body">
        <p>Loading body ...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->
<script>
  {% include 'browser/corpus-manager.js' %}
  corpus_list.add($('select#subcorpus-input'));
  corpus_list.reload();
  $("select#subcorpus-input").change(function () {
     $('#myIndexList').DataTable().draw(false)
  });
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var k = $("select#subcorpus-input").val();
        var letters = corpus_list.get(k).letters;
        var val = parseInt(data[1]) || 0 ; // use data for the age column
        var res = $.inArray(val, letters);
        console.log(res);
        return res >= 0;
    }
);



  var default_modal = $("#myModal").clone();
  var chart;
  var chartPeriod;
  var freqChartPeriod;

  // update the chart when tab is clicked for resizing issues
  $('#histotab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    if (chart) {
      chart.update();
    }
  })
  $('#periodtab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    if (chartPeriod) {
      chartPeriod.update();
    }
  })
  $('#periodtab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    if (freqChartPeriod) {
      freqChartPeriod.update();
    }
  })



  draw_tree("{% url 'family-forward-tree-ajax' family.id %}", 
            "{% url 'family-backward-tree-ajax' family.id %}", "#tree"); 

  function onclick_modal(letter_url){
     $("#myModal").empty();
     $("#myModal").append(default_modal);
     $.ajax({
      url: letter_url,
      success: function(html){
          $("#myModal").empty();
          $("#myModal").append(html);
        }
      });
  }

  function fill_everything_else_with_data (json) {
    var data = json.aaData;
    var period_sizes = json.periods;
    var dict = {};
    var cpt = 0;
    data.forEach(function(e){
      cpt += 1;
      if (dict.hasOwnProperty(e.word)){
        dict[e.word] += 1;
      } else {
        dict[e.word] = 1; 
      }
    }); 
    chartdata = [];
    for(var index in dict) { 
      if (dict.hasOwnProperty(index)) {
        var attr = dict[index];
        if (attr / cpt > 0.01) 
          chartdata.push({ label : index, value : attr});
      }
    }  
    nv.addGraph(function() {
      var total = 0;
      chart = nv.models.discreteBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value })
      .valueFormat(function(d) { return d + " ("+d3.format(',.2f')(100.0*d/cpt)+" %)"  })
      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      .tooltips(false)        //Don't show tooltips
      .showValues(true)       //...instead, show the bar value right on top of each bar.
      .transitionDuration(350)
      ;

      d3.select('#chart svg')
        .datum([{ key : "spellings", values : chartdata}])
        .call(chart);
     
      nv.utils.windowResize(chart.update);

      return chart;
    });
    var periods = { 'SG' : 0 };
    cpt = 0;
    data.forEach(function(e){
      cpt += 1;
      if (e.hasOwnProperty('period')){
        if (periods.hasOwnProperty(e.period)){
          periods[e.period] += 1;
        } else {
          periods[e.period] = 1; 
        }
      } else {
        periods['SG'] += 1;
      }
    });
    chartperioddata = [];
    for(var index in periods) { 
      if (periods.hasOwnProperty(index)) {
        var attr = periods[index];
        chartperioddata.push({ label : index, value : attr});
      }
    }
    nv.addGraph(function() {
      var total = 0;
      chartPeriod = nv.models.discreteBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value })
      .valueFormat(function(d) { return d + " ("+d3.format(',.2f')(100.0*d/cpt)+" %)"  })
      .staggerLabels(true)    // Too many bars and not enough room? Try staggering labels.
      .tooltips(false)        // Don't show tooltips
      .showValues(true)       // ... instead, show the bar value right on top of each bar.
      .transitionDuration(350)
      ;

      d3.select('#periodchart svg')
        .datum([{ key : "periods", values : chartperioddata}])
        .call(chartPeriod);
     
      nv.utils.windowResize(chartPeriod.update);

      return chartPeriod;
    });

    nv.addGraph(function() {
      var total = 0;
      freqChartPeriod = nv.models.discreteBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value / period_sizes[d.label] })
      .valueFormat(function(d) { return d3.format(',.2f')(100.0*d)+" %" })
      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      .tooltips(false)        //Don't show tooltips
      .showValues(true)       //...instead, show the bar value right on top of each bar.
      .transitionDuration(350)
      ;

      d3.select('#freqperiodchart svg')
        .datum([{ key : "frequencies", values : chartperioddata}])
        .call(freqChartPeriod);
     
      nv.utils.windowResize(freqChartPeriod.update);

      return chart;
    });
    draw_period(function (f){ 
          $.getJSON("{% url 'index-period-ajax' %}", function( data_periods ) {
            occurrences = data.filter(function(x){return x.date})
                                         .map(function(x){ return (new Date(x.date)) });
            periods = data_periods.aaData.map(function(x){
              return { "start" : (new Date(x.start)), 
                         "end" : (new Date(x.end)), 
                        "name" : x.content } 
            });
            f (occurrences, periods);
          });
      }, '.histogram');
  }
 


  $(document).ready(function() {
    var oTable = $('#myIndexList').dataTable({
      "processing": true,
      "bAutoWith": true,
       "fnDrawCallback": function(oSettings) {
            $( "button#modal-button" ).each(function (index, button) {
              var letter_url = $(button).data('content-url');
              $(button).off('click').on('click', function (event) { 
                onclick_modal(letter_url); 
              });
             });
        },
      "ajax": function (data, callback, settings) {
          /* subcorpus = parseInt($("select#subcorpus-input").val()); */
          $.ajax({
              url        : "{% url 'occurrence-family-ajax' family.id %}",
              dataType   : 'json',
              contentType: 'application/json; charset=UTF-8', 
              data       : JSON.stringify({ subcorpus : "All" }),
              type       : 'POST',
              success   : function (json) { 
                  console.log(json);
                  fill_everything_else_with_data(json);                 
                  callback(json);
              }
            });
      },
      "columnDefs" : [
           { "render" : function (data, type, full, meta) { 
           return '<button type="button" class="btn btn-default btn-xs" id="modal-button" data-toggle="modal" data-target="#myModal" '+
                  'data-content-url="'+data+'">' + '<span class="glyphicon glyphicon-eye-open"></span></button> </a>';
              }, 
             "targets": [ 0 ]
             }, { "render" : function (data, type, full, meta) { 
                 return data[0]+' <span class="bg-info">'+data[1]+'</span> '+data[2];
              }, 
             "targets": [ 6 ]
             },
               {"width" : "3%", "targets":[0,1,2,3]}, 
               {"type" : "date", "targets":[4]},
               {"type" : "numeric", "targets":[1,2,3]}],
      "columns": [
           { "data": "link" },
           { "data": "pk" },
           { "data": "volume" },
           { "data": "letter" },
           { "data": "date" },
           { "data": "word" },
           { "data": "sentence" }
      ] 
    }); 
  
  var tt = new $.fn.dataTable.TableTools( oTable, { "sSwfPath": "{% static 'js/copy_csv_xls_pdf.swf' %}" });
  $( tt.fnContainer() ).insertAfter('div.dataTables_wrapper');
});
</script>
{% endblock %}
