{% extends "base.html" %}
{% load i18n %}
{% block title %}
  Index of words
{% endblock %}
{% block header %}
  Index of words
{% endblock %}
{% block content %}
<p> (Beware, it may take some time). </p>
<table class="table table-striped" id="myIndexList" width="100%">
    <thead><tr>
      <th> View </th>
      <th> Name </th>
      <th> Family </th>
      <th> Occurrences </th>
      <th> Document frequency </th>
    </tr></thead>
  <tbody>
  </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Loading title ...</h4>
      </div>
      <div class="modal-body">
        <p>Loading body ...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->
<script>
  var default_modal = $("#myModal").clone();
  function onclick_modal(elem){
     $("#myModal").empty();
     $("#myModal").append(default_modal);
     var letter_url = $(elem).find("span").data('content-url');
     $.ajax({
      url: letter_url,
      success: function(html){
          $("#myModal").empty();
          $("#myModal").append(html);
        }
      });
  }
  $(document).ready(function() {
    var oTable = $('#myIndexList').dataTable({
        "bProcessing": true,
        "sAjaxSource": "{% url 'index-word-ajax' %}",
        "aoColumnDefs" : [
             { "mRender" : function (data, type, row) { 
             return '<a href="'+data+'" class="btn btn-default btn-xs">'+
                    '<span class="glyphicon glyphicon-link"></span></a>';
                }, "aTargets": [ 0 ] }],
        "aoColumns": [
             { "mData": "link" },
             { "mData": "name" },
             { "mData": "family" },
             { "mData": "occurrences" },
             { "mData": "docfreq" }
        ] 
      });
  });
</script>
{% endblock %}
