{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
  My title
{% endblock %}
{% block header %}
  Index of letters
{% endblock %}
{% block content %}
<table class="table table-striped" id="myIndexList" width="100%">
    <thead><tr>
    <th> View </th>
    <th> Invisible</th>
    <th> Volume </th>
    <th> Number </th> 
    <th> Length </th> 
    <th> Date </th> 
    <th> Period </th></tr></thead>
  <tbody>
  </tbody>
</table>

<h2> Histogram </h2>
<div class="histogram">
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Loading title ...</h4>
      </div>
      <div class="modal-body">
        <p>Loading body ...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->
<script>
  var default_modal = $("#myModal").clone();
  function onclick_modal(elem){
     $("#myModal").empty();
     $("#myModal").append(default_modal);
     var letter_url = $(elem).find("span").data('content-url');
     $.ajax({
      url: letter_url,
      success: function(html){
          $("#myModal").empty();
          $("#myModal").append(html);
        }
      });
  }
  $(document).ready(function() {
    var oTable = $('#myIndexList').dataTable({
        "bProcessing": true,
        "sAjaxSource": "{% url 'index-ajax' %}",
        "aoColumnDefs" : [
             { "mRender" : function (data, type, row) { 
             return '<button type="button" class="btn btn-default btn-xs" onclick="onclick_modal(this)">'+
                    '<span class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"'+ 
                    'data-content-url="'+data+'"></span></button>'+
                    '<a href="'+row.link+'" class="btn btn-default btn-xs">'+
                    '<span class="glyphicon glyphicon-link"></span></a>';
                }, 
               "aTargets": [ 0 ]
               }, {"bVisible" : false, "aTargets":[1]}, {"sType" : "date", "aTargets":[5]}, {"sType" : "numeric", "aTargets":[2,3,4]}],
        "aoColumns": [
             { "mData": "modal" },
             { "mData": "link" },
             { "mData": "volume" },
             { "mData": "number" },
             { "mData": "length" },
             { "mData": "date" },
             { "mData": "period" }
        ] 
      });
    var tt = new $.fn.dataTable.TableTools( oTable, { "sSwfPath": "{% static 'js/copy_csv_xls_pdf.swf' %}" });
    $( tt.fnContainer() ).insertAfter('div.dataTables_wrapper');
    draw_period(function (f){ 
        $.getJSON("{% url 'index-ajax' %}", function( data_letters ) {
          $.getJSON("{% url 'index-period-ajax' %}", function( data_periods ) {
            letters = data_letters.aaData.filter(function(x){return x.date})
                                         .map(function(x){ return (new Date(x.date)) });
            periods = data_periods.aaData.map(function(x){
              return { "start" : (new Date(x.start)), 
                         "end" : (new Date(x.end)), 
                        "name" : x.content } 
            });
            f (letters, periods);
          });
        });
      }, '.histogram');
  });
</script>
{% endblock %}
