.modal-body {
  max-height: 80%;
  overflow-y:auto;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#tree {
  text-align: center;
  border-color: steelblue;
  border-style: groove;
  border-width: medium;
  overflow-x:scroll;
}

svg {
  /* width : auto !important; */
  /* width: 900px; */
  /* height : auto !important; */
}


#tree svg {
  display: inline;
  width : auto !important;
  height : auto !important;
}

#chart svg {
  /* width : auto !important; */
  width: 900px;
  height : 300px !important;
}

#periodchart, #freqperiodchart {
  /* width : auto !important; */
  width: 900px;
}


#periodchart svg, #freqperiodchart svg {
  /* width : auto !important; */
  width: 900px;
  height : 300px !important;
}

#yearmap, #monthmap1, #monthmap2 {
  float:left;
  width: auto;
  margin: 10px;
  text-align: center;
}


.bar rect {
  fill: steelblue;
  opacity: 0.7;
  shape-rendering: crispEdges;
}

.period rect {
  fill: palegreen;
  shape-rendering: crispEdges;
}
.period text {
  fill: navy;
  writing-mode:tb;
}

.bar text {
  fill: red;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

