.modal-body {
  max-height: 80%;
  overflow-y:auto;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#tree {
  text-align: center;
  border-color: steelblue;
  border-style: groove;
  border-width: medium;
  overflow-x:scroll;
}
