{% load staticfiles %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{% block title %}UNDEFINED TITLE{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'vis/vis.css' %}" rel="stylesheet">
    <link href="{% static 'nv/nv.d3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/local.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/d3.v3.js' %}"></script>
    <script src="{% static 'nv/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.tableTools.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/d3.layout.cloud.js' %}"></script>
    <script src="{% static 'vis/vis.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/d3tree.js'%}"></script>
  </head>

 <body> 
    {% csrf_token %}
    <script>  
     $(document).ready(function() {
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
      });
    </script>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">LCSG</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% active request 'home' %}"><a href="{% url 'home' %}">Home</a></li>
            <li class="{% active request 'about' %}"><a href="{% url 'about' %}">About</a></li>
            <li class="{% active request 'contact' %}"><a href="{% url 'contact' %}">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Letters</li>
                <li class="{% active request 'index$' %}"><a href="{% url 'index' %}">Index</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Families</li>
                <li class="{% active request 'index-families' %}"><a href="{% url 'index-families' %}">Index</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Words</li>
                <li class="{% active request 'index-word' %}"><a href="{% url 'index-word' %}">Index</a></li>
                <li class="dropdown-header">Divers</li>
                <li class="{% active request 'participe' %}"><a href="{% url 'participe' %}">Participe</a></li>
             <!-- Now Hidden:
                <li class="dropdown-header">Periods</li>
                <li class="{% active request 'index-period' %}"><a href="{% url 'index-period' %}">Periods</a></li>
                <li class="{% active request 'quote' %}"><a href="{% url 'quote' %}">Quotes</a></li>
                <li class="{% active request 'index-francia' %}"><a href="{% url 'index-francia' %}">Francia</a></li>
                <li class="{% active request 'zipflaw' %}"><a href="{% url 'zipflaw' %}">Zipf</a></li>
              !-->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row"> <h1 class="col-md-8">{% block header %}UNDEFINED TITLE{% endblock %}</h1> <div class="col-md-4" id="header-right"> </div>
        </div>
      </div>
      {% block content %}
      <p class="lead">This a bug. Please report it. </p>
      {% endblock %}
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted"> 
      {% block footer %}
      {% endblock %}
        </p>
      </div>
    </div>
  </body>
